/* shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --pink: #ff42a5;
    --light-grey: #cecbd4;
    --light-dark-grey: #3C354F;
    --light-grey2: #534C64;
    --black: #0B0223;
    --white: #FFF;
    --sky-blue: #4EC5F7;
}

.primary-color {
    color: var(--pink);
}

.title {
    padding-bottom: 20px;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* copied style from figma */
}

.description {
    padding-bottom: 20px;
    color: var(--light-grey2);
    font-size: 1.01rem;
    font-weight: 400;
}

/* header styles start here */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 220px 20px 220px;
    background: var(--white);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo h1 {
    display: flex;
    font-size: 2.8rem;
    font-weight: 700;
}

.header-logo img {
    display: flex;
    gap: 20px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--light-dark-grey);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

nav ul li {
    display: flex;
    padding-right: 30px;
    list-style: none;
    gap: 5px;
}

nav ul > li a {
    text-decoration: none;
    color: var(--light-dark-grey);
}

.follow-us {
    border: 0px;
    border-radius: 8px;
    background-color: var(--light-grey);
    padding: 10px;
}

/* header styles end here */

/* banner styles start here */
.banner-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 220px 0px 220px;
    align-items: center;
    background-image: url("../images/Group\ 14.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.banner-title {
    color: var(--black);
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title .goat-text {
    text-align: center;
    font-size: 5.9rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* copied style from figma */
}

.banner-description {
    color: var(--light-dark-grey);
    list-style: none;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: lowercase;
}

.banner-description li {
    padding-bottom: 10px;
}

.banner-description li>i {
    padding-right: 10px;
}

.banner-btn {
    display: flex;
    gap: 1.4rem;
    margin-top: 20px;
}

.btn-pink {
    border: 0px;
    border-radius: 40px;
    background: var(--pink);
    padding: 20px 40px;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-blue {
    border: 0px;
    border-radius: 40px;
    background: var(--sky-blue);
    color: var(--white);
    padding: 20px 40px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-images img{
    width: 100%;
}

/* banner section styles end here */

/* we are gamer section styles start here */

.we-are-gamer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 220px 20px 220px;
    margin-top: 0;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    /* copied style from figma */
}
.we-are-gamer-container img{
    width: 100%;
}
.wag-content {
    text-align: right;
}

.our-purpose {
    padding-top: 20px;
    color: var(--light-grey2);
    font-size: 1.2rem;
    font-weight: 500;
}

.quote {
    color: var(--light-grey2);
    font-size: 2rem;
    font-weight: 700;
}

/* we are gamers section styles end here */

/* online games funny videos section styles start here */
.online-games-funny-videos-container {

    margin-top: 50px;
}

.ogfv-content {
    text-align: center;
    padding-bottom: 10px;
}

.dark-title {
    color: var(--black);
    font-size: 3rem;
    font-weight: 700;
}

.video-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 220px 20px 220px;
}

figcaption {
    color: var(--light-grey2);
    font-size: 1.1rem;
    font-weight: 500;
    width: 355px;
}

/* online games funny videos section styles end here */

/* play instantly styles start here */
.play-instantly-container {
    display: flex;
    justify-content: space-between;
    gap: 250px;
    padding: 20px 220px 20px 220px;
    margin-top: 50px;
    align-content: center;
}

.play-instantly-content {
    text-align: right;
    transform: translate(0px, 200px)
}

.pimg {
    width: 100%;
}

.sub-img {
    width: 50%;
    transform: translate(-90px, -280px);
}

.play-instantly-container2 {
    display: flex;
    justify-content: space-between;
    gap: 250px;
    padding: 0px 220px;
    align-content: center;
}

.play-instantly-content2 {
    text-align: left;
    transform: translate(0px, 250px)
}

.pimg2 {
    width: 100%;
}

.sub-img2 {
    width: 50%;
    transform: translate(450px, -290px);
}

/* play instantly styles end here */

/* users styles start here */
.users-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0px 220px 50px;
}

.users {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.users:hover {
    border: 2px solid var(--pink);
    border-radius: 50px;
    color: var(--pink);
}

/* users styles end here */

/* footer styles start here */
footer{
    display: flex;
    flex-direction: column;
    padding: 50px 220px 50px 220px;
    background-color: var(--black);
    color: var(--light-grey);
    align-items: center;
}
.footer-logo{
    align-items: center;
    text-align: center;
    color:var(--white);
}
.footer-links ul, .social-links ul, .website-links ul {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--light-dark-grey);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 30px;  
}

.footer-links ul li, .social-links ul li, .website-links ul li {
    display: flex;
    padding-right: 30px;
    list-style: none;
}

.copyright{
    text-align: center;
}

.footer-links ul > li, .social-links ul > li, .website-links ul > li{
    list-style: none;
}

.footer-links ul li > a, .social-links ul li > a, .website-links ul li > a{
    text-decoration: none;
    color: var(--light-grey);
}

/* footer styles end here */
.hide{
    display: none;
}
/* responsive design */
/* mobile devices */
@media screen and (max-width:576px){
    header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    nav{
        flex-direction: column;
        gap: 10px;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
    }
    nav .follow-us{
        color: #3C354F;
        font-size: 1rem;
        font-weight: 500;
        width: 180px;
        text-align: center;
    }
    .banner-container{
        flex-direction: column;
    }

    .banner-content{
        transform: translate(0px, 400px);
    }

    .banner-images img{
        transform: translate(0px, -390px);
        width: 400px;
        margin-top: 0;
    }
    .banner-btn > .btn-blue, .btn-pink{
        font-size: 1rem;
    }
    .we-are-gamer-container{
        flex-direction: column;
    }
    .we-are-gamer-container  img{
        width: 550px;
    }
    .wag-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .title{
        align-items: center;
        text-align: center;
        width: 400px;
    }
    .online-games-funny-videos-container{
        flex-direction: column;
    }
    .ogfv-content{
        align-items: center;
        text-align: center;
    }
    .video-cards{
        flex-direction: column;
    }
    .videos{
        padding-bottom: 30px;
    }
    .play-instantly-container, .play-instantly-container2{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .play-instantly-content {
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 400px;
    }
    .pimg, .pimg2{
        width: 400px;
    }
    .sub-img, .sub-img2{
        transform: translate(-160px, -160px);
    }
    .play-instantly-content2{
        transform: translate(0px, -900px);
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 400px;
    }
    .pimg2{
        transform: translate(0px, 300px);
    }
    .sub-img2{
        transform: translate(-160px, 160px);
    }
    .users{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-links ul, .social-links ul, .website-links ul {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 400px;
        flex-wrap: wrap;
        padding: 20px;
    }
    .footer-links ul li, .social-links ul li, .website-links ul li{
        padding: 10px;
    }
    .copyright{
        width: 400px;
    }
}
